GRIST_TAG=1.7.20
TZ=Europe/Zurich
GRIST_BIND=127.0.0.1
GRIST_PORT=8484
GRIST_DEFAULT_EMAIL=you@example.com
PYTHON_TAG=3.13-alpine
FRM_URL=http://127.0.0.1:8080
SYNC_INTERVAL=120
GRIST_DOC_ID=xxx
GRIST_API_KEY=xxx
